{% extends 'base.html' %} {% block content %}

<div class = "container mx-auto mt-4 pt-4" style = "width:30%">
    <form method="POST" class = "mb-5" action = "{% url 'export_data' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="mb-3 pt-1">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        {% comment %} <div class="mb-3 pt-1">
          <label for="sendemail" class="form-label">Enter email (optional)</label>
          <input type="email" class="form-control" id="sendemail" name="sendemail" placeholder="Email to export data">
        </div> {% endcomment %}
        <div class = "d-flex justify-content-center mx-auto">
          <button type="submit" class="btn btn-primary mt-3 me-5">Export Data</button>
          <button type="submit" class="btn btn-primary mt-3" formaction="{%url 'line_chart'%}">Generate Report</button>
        </div>
    </form>
</div>

{% endblock %}
