{% extends 'base.html' %} {% block content %}
<h1 class="top-heading">Welcome to the IoT App</h1>
<!-- home.html -->
{% comment %}
<div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info">
    <div
      id="welcome-alert"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endcomment %} {% comment %} {% if messages %}
<div class="alert alert-info">
  <ul class="list-unstyled">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endcomment %}

<div class="container-fluid mb-3">
  <h3 class="ms-5 mb-4 headings">Temperature Dashboard</h3>
  <div class="row align-items-stretch">
    <div class="col-lg-7 px-5">
      <div class="container-1">
        <canvas id="myChart-1"></canvas>
      </div>
    </div>
    <div class="col-lg-5 my-auto">
      <div class="container-1 px-3">
        <canvas id="temperature_info"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
      var ctx_temp = document.getElementById("temperature_info").getContext("2d");
      var myChart = new Chart(ctx_temp, {
        type: "bar",
        data: {
          labels: ["Average", "Lowest", "Highest"],
          datasets: [
            {
              barThickness: 60,
              data: [{{average_temperature}}, {{lowest_temp}}, {{highest_temp}}],
              backgroundColor: [
                "rgba(75, 192, 192, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 99, 132, 1)",
              ],
              borderColor: [
                "rgba(75, 192, 192, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 99, 132, 1)"
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
       {% comment %}
  <script>
    {% endcomment %}
     // Configuration options for the chart
     const options = {
      legend: {
        display: false
      },
      scales: {
        yAxes: [
          {
            ticks: {
              fontColor: 'blue',
              beginAtZero: true,
            },
          },
        ],
        xAxes: [{
          scaleLabel: {
            display: true,
            fontColor: 'blue' // color of the x-axis label
          },
          ticks: {
            fontColor: 'blue' // color of the x-axis tick labels
          }
        }]
      },
     };

     // Create a new Chart instance
     const ctx_temp_chart = document.getElementById("myChart-1").getContext("2d");
     const chart = new Chart(ctx_temp_chart, {
       type: "line",
       data: {
         labels: [],
         datasets: [
           {
             data: [],
             borderColor: "blue",
             borderWidth: 2,
             fill: false,
           },
         ],
       },
       options: options
     });

     // Function to update the chart with new data
     function updateChart() {
       $.ajax({
         url: "/get_temperature_data/", // Django view URL to fetch temperature data
         success: function (data) {
           // Parse the JSON data and update the chart
           // console.log(data, "hurreehhhh....");
           const newData = data;
           chart.data.labels.push(newData.label);
           chart.data.datasets[0].data.push(newData.value);
           // Limit the chart to only show the last 10 data points
           if(newData.value > {{critical_temp}}){
            chart.options.scales.xAxes[0].ticks.fontColor = 'red';
            chart.options.scales.yAxes[0].ticks.fontColor = 'red';
            chart.data.datasets[0].borderColor = "red";
           }
           else {
            chart.options.scales.xAxes[0].ticks.fontColor = 'blue';
            chart.options.scales.yAxes[0].ticks.fontColor = 'blue';
            chart.data.datasets[0].borderColor = "blue";
           }
           if (chart.data.labels.length > 10) {
             chart.data.labels.shift();
             chart.data.datasets[0].data.shift();
           }
           chart.update();
         },
       });
     }

     // Function to load initial data for the chart
     function loadInitialData() {
       $.ajax({
         url: "/get_initial_temperature_data/", // Django view URL to fetch initial temperature data
         success: function (data) {
           // Parse the JSON data and update the chart
           const initialData = data;
           chart.data.labels = initialData.labels;
           chart.data.datasets[0].data = initialData.values;
           chart.update();
         },
       });
     }

     // Call the loadInitialData function when the page loads to load the initial data
     $(document).ready(function () {
       loadInitialData();
       //updateChart();
     });

     // Set up a timer to update the chart every 5 seconds
     setInterval(updateChart, 5000);
</script>

<div class="container-fluid mt-5 pt-3">
  <h3 class="ms-5 mb-4 headings">Humidity Dashboard</h3>
  <div class="row align-items-stretch">
    <div class="col-lg-7 px-5">
      <div class="container-2">
        <canvas id="myChart-2"></canvas>
      </div>
    </div>
    <div class="col-lg-5 my-auto">
      <div class="container-2 px-3">
        <canvas id="humidity_info"></canvas>
      </div>
    </div>
  </div>
</div>
{% comment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endcomment %}

<script>
  // Configuration options for the chart
  var ctx_hum = document.getElementById("humidity_info").getContext("2d");
  var myChart = new Chart(ctx_hum, {
    type: "bar",
    data: {
      labels: ["Average", "Lowest", "Highest"],
      datasets: [
        {
          barThickness: 60,
          data: [{{average_humidity}}, {{lowest_hum}}, {{highest_hum}}],
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 99, 132, 1)"
          ],
          borderColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 99, 132, 1)"
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });


  const options1 = {
    legend: {
      display: false,
    },
    scales: {
      yAxes: [
        {
          ticks: {
            fontColor: 'blue',
            beginAtZero: true,
          },
        },
      ],
      xAxes: [{
        scaleLabel: {
          display: true,
          fontColor: 'blue' // color of the x-axis label
        },
        ticks: {
          fontColor: 'blue' // color of the x-axis tick labels
        }
      }]
    },
  };

  // Create a new Chart instance
  const ctx_hum_chart = document.getElementById("myChart-2").getContext("2d");
  const chart1 = new Chart(ctx_hum_chart, {
    type: "line",
    data: {
      labels: [],
      datasets: [
        {
          label: "Humidity",
          data: [],
          borderColor: "blue",
          borderWidth: 2,
          fill: false,
        },
      ],
    },
    options: options1,
  });

  // Function to update the chart with new data
  function updateChart1() {
    $.ajax({
      url: "/get_humidity_data/", // Django view URL to fetch temperature data
      success: function (data) {
        // Parse the JSON data and update the chart
        // sconsole.log(data, "hurreehhhh1....");
        const newData = data;
        chart1.data.labels.push(newData.label);
        chart1.data.datasets[0].data.push(newData.value);
        // Limit the chart to only show the last 10 data points
        if(newData.value > {{critical_hum}}){
          chart1.options.scales.xAxes[0].ticks.fontColor = 'red';
          chart1.options.scales.yAxes[0].ticks.fontColor = 'red';
          chart1.data.datasets[0].borderColor = "red";

         }
        else {
          chart1.options.scales.xAxes[0].ticks.fontColor = 'blue';
          chart1.options.scales.yAxes[0].ticks.fontColor = 'blue';
          chart1.data.datasets[0].borderColor = "blue";
        }
        if (chart1.data.labels.length > 10) {
          chart1.data.labels.shift();
          chart1.data.datasets[0].data.shift();
        }
        chart1.update();
      },
    });
  }

  // Function to load initial data for the chart
  function loadInitialData1() {
    $.ajax({
      url: "/get_initial_humidity_data/", // Django view URL to fetch initial temperature data
      success: function (data) {
        // Parse the JSON data and update the chart
        const initialData = data;
        chart1.data.labels = initialData.labels;
        chart1.data.datasets[0].data = initialData.values;
        chart1.update();
      },
    });
  }

  // Call the loadInitialData function when the page loads to load the initial data
  $(document).ready(function () {
    loadInitialData1();
    //updateChart();
  });

  // Set up a timer to update the chart every 5 seconds
  setInterval(updateChart1, 5000);
</script>

<div class="container-fluid mt-5 pt-3">
  <h3 class="ms-5 mb-4 headings">Air Monitoring Dashboard</h3>
  <div class="row align-items-stretch">
    <div class="col-lg-7 px-5">
      <div class="container-3">
        <canvas id="myChart-3"></canvas>
      </div>
    </div>
    <div class="col-lg-5 my-auto">
      <div class="container-3 px-3">
        <canvas id="gas_info"></canvas>
      </div>
    </div>
  </div>
</div>
{% comment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endcomment %}

<script>
  // Configuration options for the chart
  var ctx_gas = document.getElementById("gas_info").getContext("2d");
  var myChart = new Chart(ctx_gas, {
    type: "bar",
    data: {
      labels: ["Average", "Lowest", "Highest"],
      datasets: [
        {
          barThickness: 60,
          data: [{{average_gas}}, {{lowest_gas}}, {{highest_gas}}],
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 99, 132, 1)"
          ],
          borderColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 99, 132, 1)"
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });


  const options2 = {
    legend: {
      display: false,
    },
    scales: {
      yAxes: [
        {
          ticks: {
            fontColor: 'blue',
            beginAtZero: true,
          },
        },
      ],
      xAxes: [{
        scaleLabel: {
          display: true,
          fontColor: 'blue' // color of the x-axis label
        },
        ticks: {
          fontColor: 'blue' // color of the x-axis tick labels
        }
      }]
    },
  };

  // Create a new Chart instance
  const ctx_gas_chart = document.getElementById("myChart-3").getContext("2d");
  const chart2 = new Chart(ctx_gas_chart, {
    type: "line",
    data: {
      labels: [],
      datasets: [
        {
          label: "Gas Value",
          data: [],
          borderColor: "blue",
          borderWidth: 2,
          fill: false,
        },
      ],
    },
    options: options2,
  });

  // Function to update the chart with new data
  function updateChart2() {
    $.ajax({
      url: "/get_gas_data/", // Django view URL to fetch temperature data
      success: function (data) {
        // Parse the JSON data and update the chart
        console.log(data, "hurreehhhh2....");
        const newData = data;
        chart2.data.labels.push(newData.label);
        chart2.data.datasets[0].data.push(newData.value);
        // Limit the chart to only show the last 10 data points
        if(newData.value > {{critical_gas}}){
          chart2.options.scales.xAxes[0].ticks.fontColor = 'red';
          chart2.options.scales.yAxes[0].ticks.fontColor = 'red';
          chart2.data.datasets[0].borderColor = "red";
         }
        else {
          chart2.options.scales.xAxes[0].ticks.fontColor = 'blue';
          chart2.options.scales.yAxes[0].ticks.fontColor = 'blue';
          chart2.data.datasets[0].borderColor = "blue";
        }
        if (chart2.data.labels.length > 10) {
          chart2.data.labels.shift();
          chart2.data.datasets[0].data.shift();
        }
        chart2.update();
      },
    });
  }

  // Function to load initial data for the chart
  function loadInitialData2() {
    $.ajax({
      url: "/get_initial_gas_data/", // Django view URL to fetch initial temperature data
      success: function (data) {
        // Parse the JSON data and update the chart
        const initialData = data;
        chart2.data.labels = initialData.labels;
        chart2.data.datasets[0].data = initialData.values;
        chart2.update();
      },
    });
  }

  // Call the loadInitialData function when the page loads to load the initial data
  $(document).ready(function () {
    loadInitialData2();
    //updateChart();
  });

  // Set up a timer to update the chart every 5 seconds
  setInterval(updateChart2, 5000);
</script>
{%endblock%}
