{% extends 'base.html' %} {% block content %}


<div class = "container-fluid mt-3">
    <div class = "row mb-3 mx-5">
        <div class = "col-lg-12">
            <div class="card shadow">
                <h5 class="card-header" style = "background-color: #37474F;border-radius: 0 !important;color: white;margin-bottom: 0;padding: 1rem;">Live Values </h5>
                <div class=" row">
                    <div class = "col-lg-4">
                        <div style = "width : 35%" class = "d-flex justify-content-center mx-auto"> 
                            <canvas id="myChart_temp_gauge"></canvas>
                            <div style = "" class = "gas_current">
                                {{latest_temperature}} &degC
                            </div>
                        </div>
                    </div> 
                    <div class = "col-lg-4"> 
                        <div style = "width : 35%" class = "d-flex justify-content-center mx-auto"> 
                            <canvas id="myChart_humidity_gauge"></canvas>
                            <div style = "" class = "gas_current">
                                {{latest_humidity}} %
                            </div>
                        </div>
                    </div> 
                    <div class = "col-lg-4"> 
                        <div style = "width : 35%" class = "d-flex justify-content-center mx-auto"> 
                            <canvas id="myChart_gas_gauge"></canvas>
                            <div style = "" class = "gas_current">
                                {{latest_gas}} ppm
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class = "row my-3 mx-5 mt-4">
        <div class = "col-lg-7">
            <div class = "container-1 mx-auto">
                {% comment %} <canvas id="myChart-1"></canvas> {% endcomment %}
                <div id="live_data_graph" style="height: 400px;"> </div>
            </div>
        </div>
        <div class = "col-lg-5">
            <div class = "container-1 mx-auto">
                <div id="info_horizontal" style="height: 400px;"></div>
            </div>
        </div>
        {% comment %} <div class = "col-lg-4">
            <div class = "container-1 d-flex justify-content-center mx-auto" style = "width : 85%">
                <canvas id="myChart-2"></canvas>
            </div>
        </div>
        <div class = "col-lg-4">
            <div class = "container-1 d-flex justify-content-center mx-auto" style = "width : 85%">
                <canvas id="myChart-3"></canvas>
            </div>
        </div> {% endcomment %}
    </div>
    {% comment %} <div class = "row">
        <div class = "col-lg-4">
            <div class = "container-1 d-flex justify-content-center mx-auto" style = "width : 85%">
                <canvas id="temperature_info"></canvas>
            </div>
        </div>
        <div class = "col-lg-4">
            <div class = "container-1 d-flex justify-content-center mx-auto" style = "width : 85%">
                <canvas id="humidity_info"></canvas>
            </div>
        </div>
        <div class = "col-lg-4">
            <div class = "container-1 d-flex justify-content-center mx-auto" style = "width : 85%">
                <canvas id="gas_info"></canvas>
            </div>
        </div>
    </div> {% endcomment %}
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("info_horizontal", {
            animationEnabled: true,
            title:{
                text: ""
            },
            axisY: {
                title: "",
                includeZero: true
            },
            legend: {
                cursor:"pointer",
                itemclick : toggleDataSeries
            },
            toolTip: {
                shared: true,
                content: toolTipFormatter
            },
            data: [{
                type: "bar",
                showInLegend: true,
                name: "Temperature",
                color: "gold",
                dataPoints: [
                    { y: {{average_temperature}}, label: "Average" },
                    { y: {{lowest_temp}}, label: "Lowest" },
                    { y: {{highest_temp}}, label: "Highest" },
                ]
            },
            {
                type: "bar",
                showInLegend: true,
                name: "Humidity",
                color: "silver",
                dataPoints: [
                    { y: {{average_humidity}}, label: "Average" },
                    { y: {{lowest_hum}}, label: "Lowest" },
                    { y: {{highest_hum}}, label: "Highest" },
                ]
            },
            {
                type: "bar",
                showInLegend: true,
                name: "Gas",
                color: "#A57164",
                dataPoints: [
                    { y: {{average_gas}}, label: "Average" },
                    { y: {{lowest_gas}}, label: "Lowest" },
                    { y: {{highest_gas}}, label: "Highest" },
                ]
            }]
        });
        chart.render();
        
        function toolTipFormatter(e) {
            var str = "";
            var str3;
            var str2 ;
            str = "<span style= \"color:"+e.entries[0].dataSeries.color + "\">" + e.entries[0].dataSeries.name + "</span>: <strong>"+  e.entries[0].dataPoint.y + "&degC" +"</strong> <br/>" +
            "<span style= \"color:"+e.entries[1].dataSeries.color + "\">" + e.entries[1].dataSeries.name + "</span>: <strong>"+  e.entries[1].dataPoint.y + " %" +"</strong> <br/>" +
            "<span style= \"color:"+e.entries[2].dataSeries.color + "\">" + e.entries[2].dataSeries.name + "</span>: <strong>"+  e.entries[2].dataPoint.y + " ppm" +"</strong> <br/>" ;

            {% comment %} for (var i = 0; i < e.entries.length; i++){
                var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "</strong> <br/>" ;
                str = str.concat(str1);
            } {% endcomment %}
            str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
            return (str2.concat(str));
        }
        
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }
        
        }


    var stockChart;

  $(document).ready(function() {
    // Define the initial chart options
    var chartOptions = {
        theme: "light2", 
      title: {
        text: ""
      },
      animationEnabled: true,
      exportEnabled: true,
      charts: [{
        height : 300,
        axisX: {
            title :  "_",
          crosshair: {
            enabled: true,
            snapToDataPoint: true
          }
        },
        axisY: {
          crosshair: {
            enabled: true
          }
        },
        data: [{ 
            type: "stackedArea",
            dataPoints: []
          },{ 
              type: "spline",
              dataPoints: []
          },{ 
              type: "spline",
              dataPoints: []
          }]
      }], 
      rangeSelector : {
        enabled : true
      },   
      rangeSelector: {
        {% comment %} inputFields: {
          startValue: 4000,
          endValue: 6000,
          valueFormatString: "###0"
        }, {% endcomment %}
        buttons: [{
          label: "1m",
          range: 1,
          rangeType: "minute"
        },{
          label: "1H",
          range: 1,
          rangeType: "hour"
        },{
            label: "1D",
            range: 1,
            rangeType: "day"
        },{
            label: "1W",
            range: 1,
            rangeType: "week"
        },{
            label: "1M",
            range: 1,
            rangeType: "month"
        },{
          label: "All",        
          rangeType: "all"
        }]
      }
    };

    // Render the chart
    stockChart = new CanvasJS.StockChart("live_data_graph", chartOptions);
    stockChart.render();

    
    // Set up an interval to update the chart data
    setInterval(function() {
      $.ajax({
        url: '/sensor-data-api', // Replace with the URL to your Django view that returns the sensor data
        success: function(sensorData) {
          // Convert the sensor data to an array of data points
          var dataPoints1 = [];
          var dataPoints2 = [];
          var dataPoints3 = [];


          for (var i = 0; i < sensorData.length; i++) {
            dataPoints1.push({
              x: new Date(sensorData[i].timestamp),
              y: sensorData[i].temperature
            });
            dataPoints2.push({
                x: new Date(sensorData[i].timestamp),
                y: sensorData[i].humidity
            });
            dataPoints3.push({
                x: new Date(sensorData[i].timestamp),
                y: sensorData[i].gas_value
            });
          }

          // Update the chart data
          stockChart.options.charts[0].data[0].dataPoints = dataPoints1;
          stockChart.options.charts[0].data[1].dataPoints = dataPoints2;
          stockChart.options.charts[0].data[2].dataPoints = dataPoints3;
          var len = stockChart.options.charts[0].data[0].dataPoints.length;
          {% comment %} console.log(stockChart.options.charts[0].data[0].dataPoints[len-1]); {% endcomment %}
          stockChart.render();
        }
      });
    }, 5000); // Replace with the desired interval in milliseconds

    if (!Element.prototype.setCapture) {
        Object.defineProperty(Element.prototype, 'setCapture', {
          value: function () {
            if (this.setPointerCapture) {
              this.setPointerCapture();
            }
          }
        });
      }
  });
    //----------------------------------------------------Temperature Gauge-------------------------------------------------------
    const canvas = document.getElementById('myChart_temp_gauge');
    const ctx = canvas.getContext('2d');
    var ran = Math.floor(Math.random() * 100);
    let myChart_temp_gauge;
    function updateneedle(){
      $.ajax(
        {
          url:'/sensor-data/',
          type: 'GET',
          dataType:'JSON',
          success: function(newdata){
            let temp_gauge_values = [newdata.temperature];
            const data = {
              labels: ['Good', 'Warm', 'Danger'],
              datasets: [{
                label: 'Weekly Sales',
                data: [30,10,60],
                backgroundColor: [
                  'rgba(30, 217, 83, 1)',
                  'rgba(255, 255, 0, 1)',
                  'rgba(255, 0, 0, 1)',
                ],
                needleValue : temp_gauge_values[0],
                borderColor: [
                  'white'
                ],
                borderWidth: 2,
                cutout: '80%',
                circumference : 180,
                rotation : 270,
                borderRadius : 5,
                animation:false,
              }]
            };
        
            //gaugeNeedle block
              
              const gaugeNeedle = {
                id : 'gaugeNeedle',
                afterDatasetDraw(chart,args,options) {
                  const {ctx, config,data, chartArea : {top,bottom,left,right,width,height}} = chart; 
                  
                  ctx.save();
                  const needleValue = data.datasets[0].needleValue;
                  const dataTotal = data.datasets[0].data.reduce((a,b) => a+b,0);
                  {% comment %} var angle = Math.PI + (1/dataTotal*needleValue*Math.PI); {% endcomment %}
                  var angle = Math.PI + (1/dataTotal*needleValue*Math.PI);
                  
                  const cx = width/2;
                  const cy = chart._metasets[0].data[0].y;
                  
                  //needle
                  ctx.translate(cx,cy);
                  ctx.rotate(angle);
                  ctx.beginPath();
                  ctx.moveTo(0,-2);
                  ctx.lineTo(height-(ctx.canvas.offsetTop+20),0);
                  ctx.lineTo(0,2);
                  ctx.fillStyle = '#444';
                  ctx.fill();
                  ctx.restore();
                  
                  
                  //needle dot
                  ctx.beginPath();
                  ctx.arc(cx,cy,5,0,10);
                  ctx.fill();
                  ctx.restore();
                  
                  ctx.font = '20px Helvetica';
                  ctx.fillStyle = '#444';
                  {% comment %} ctx.fillText(needleValue+'\u00B0C', cx-20, cy+30); {% endcomment %}
                  ctx.textAlign = 'center';
                  ctx.restore();  
                }
              }
            
            // config 
            const config = {
              type: 'doughnut',
              data,
              options: {
                plugins : {
                  legend : {
                    display : false
                  },
                  tooltip : {
                    yAlign : 'bottom',
                    displayColors : false,
                    callbacks : {
                      label : function(tooltipItem, data, value) {
                        const tracker = tooltipItem.dataset.needleValue;
                        return `Temperature : ${tracker} %`; 
                      }
                    }
                  }
                }
              },
              plugins : [gaugeNeedle] 
            };
        
            // Instantly assign Chart.js version
            if (myChart_temp_gauge) {
              myChart_temp_gauge.destroy();
            }
    
            myChart_temp_gauge = new Chart(ctx, config);
            
          }
        }
      );
    }
    setInterval(updateneedle, 1000);




    //----------------------------------------------------Humidity Gauge-------------------------------------------------------
    const canvas_humidity = document.getElementById('myChart_humidity_gauge');
    const ctx_humidity = canvas_humidity.getContext('2d');
    var ran_humidity = Math.floor(Math.random() * 100);
    let myChart_humidity_gauge;

    function updateHumidityNeedle(){
    $.ajax(
        {
        url:'/sensor-data/',
        type: 'GET',
        dataType:'JSON',
        success: function(newdata){
            let humidity_gauge_values = [newdata.humidity];
            
            const data_humidity = {
            labels: ['Low', 'Medium', 'High'],
            datasets: [{
                label: 'Humidity',
                data: [40,30,30],
                backgroundColor: [
                'rgba(30, 217, 83, 1)',
                'rgba(255, 255, 0, 1)',
                'rgba(255, 0, 0, 1)',
                ],
                needleValue : humidity_gauge_values[0],
                borderColor: [
                'white'
                ],
                borderWidth: 2,
                cutout: '80%',
                circumference : 180,
                rotation : 270,
                borderRadius : 5,
                animation:false,
            }]
            };
        
            //gaugeNeedle block
            
            const gaugeNeedle_humidity = {
            id : 'gaugeNeedle',
            afterDatasetDraw(chart,args,options) {
                const {ctx, config,data, chartArea : {top,bottom,left,right,width,height}} = chart; 
                
                ctx.save();
                const needleValue = data.datasets[0].needleValue;
                const dataTotal = data.datasets[0].data.reduce((a,b) => a+b,0);
                {% comment %} const angle = Math.PI + (1/dataTotal*needleValue*Math.PI); {% endcomment %}
                var angle;
                if (window.innerWidth < 992) {
                angle = (1/dataTotal*needleValue*Math.PI);
                } else {
                angle = Math.PI + (1/dataTotal*needleValue*Math.PI);
                }
                
                const cx = width/2;
                const cy = chart._metasets[0].data[0].y;
                
                //needle
                ctx.translate(cx,cy);
                ctx.rotate(angle);
                ctx.beginPath();
                ctx.moveTo(0,-2);
                ctx.lineTo(height-(ctx.canvas.offsetTop+20),0);
                ctx.lineTo(0,2);
                ctx.fillStyle = '#444';
                ctx.fill();
                ctx.restore();
                
                
                //needle dot
                ctx.beginPath();
                ctx.arc(cx,cy,5,0,10);
                ctx.fill();
                ctx.restore();
                
                ctx.font = '20px Helvetica';
                ctx.fillStyle = '#444';
                {% comment %} ctx.fillText(needleValue+' %', cx-20, cy+30); {% endcomment %}
                ctx.textAlign = 'center';
                ctx.restore();  
            }
            }
        
            // config 
            const config_humidity = {
            type: 'doughnut',
            data: data_humidity,
            options: {
                plugins : {
                legend : {
                    display : false
                },
                tooltip : {
                    yAlign : 'bottom',
                    displayColors : false,
                    callbacks : {
                    label : function(tooltipItem, data, value) {
                        const tracker = tooltipItem.dataset.needleValue;
                        return `Humidity : ${tracker} %`; 
                    }
                    }
                }
                }
            },
            plugins : [gaugeNeedle_humidity] 
            };
        
            // Instantly assign Chart.js version
            if (myChart_humidity_gauge) {
            myChart_humidity_gauge.destroy();
            }

            myChart_humidity_gauge = new Chart(ctx_humidity, config_humidity);
        }
        }
    );
    }
    setInterval(updateHumidityNeedle, 1000);




    //----------------------------------------------------Gas Gauge-------------------------------------------------------
    const canvasGas = document.getElementById('myChart_gas_gauge');
    const ctxGas = canvasGas.getContext('2d');
    let myChart_gas_gauge;
    function updateGasNeedle(){
    $.ajax(
        {
        url:'/sensor-data/',
        type: 'GET',
        dataType:'JSON',
        success: function(newdata){
            let gas_gauge_values = [newdata.gas_value];
            
            const data = {
            labels: ['Safe', 'Moderate', 'Danger'],
            datasets: [{
                label: 'Gas Levels',
                data: [300,100,400],
                backgroundColor: [
                'rgba(30, 217, 83, 1)',
                'rgba(255, 255, 0, 1)',
                'rgba(255, 0, 0, 1)',
                ],
                needleValue : gas_gauge_values[0],
                borderColor: [
                'white'
                ],
                borderWidth: 2,
                cutout: '80%',
                circumference : 180,
                rotation : 270,
                borderRadius : 5,
                animation:false,
            }]
            };
        
            //gaugeNeedle block
            
            const gaugeNeedle = {
                id : 'gaugeNeedle',
                afterDatasetDraw(chart,args,options) {
                const {ctx, config,data, chartArea : {top,bottom,left,right,width,height}} = chart; 
                
                ctx.save();
                const needleValue = data.datasets[0].needleValue;
                const dataTotal = data.datasets[0].data.reduce((a,b) => a+b,0);
                {% comment %} const angle = Math.PI + (1/dataTotal*needleValue*Math.PI); {% endcomment %}
                var angle;
                if (window.innerWidth < 992) {
                angle = (1/dataTotal*needleValue*Math.PI);
                } else {
                angle = Math.PI + (1/dataTotal*needleValue*Math.PI);
                }
                
                const cx = width/2;
                const cy = chart._metasets[0].data[0].y;
                
                //needle
                ctx.translate(cx,cy);
                ctx.rotate(angle);
                ctx.beginPath();
                ctx.moveTo(0,-2);
                ctx.lineTo(height-(ctx.canvas.offsetTop+20),0);
                ctx.lineTo(0,2);
                ctx.fillStyle = '#444';
                ctx.fill();
                ctx.restore();
                
                
                //needle dot
                ctx.beginPath();
                ctx.arc(cx,cy,5,0,10);
                ctx.fill();
                ctx.restore();
                
                ctx.font = '20px Helvetica';
                ctx.fillStyle = '#444';
                {% comment %} ctx.fillText(needleValue+' ppm', cx-50, cy+30); {% endcomment %}
                ctx.textAlign = 'center';
                ctx.restore();  
                }
            }
            
            // config 
            const config = {
            type: 'doughnut',
            data,
            options: {
                plugins : {
                legend : {
                    display : false
                },
                tooltip : {
                    yAlign : 'bottom',
                    displayColors : false,
                    callbacks : {
                    label : function(tooltipItem, data, value) {
                        const tracker = tooltipItem.dataset.needleValue;
                        return `Gas Level : ${tracker} ppm`; 
                    }
                    }
                }
                }
            },
            plugins : [gaugeNeedle] 
            };
        
            // Instantly assign Chart.js version
            if (myChart_gas_gauge) {
            myChart_gas_gauge.destroy();
            }

            myChart_gas_gauge = new Chart(ctxGas, config);
            
        }
        }
    );
    }
    setInterval(updateGasNeedle, 1000);


    // --------------------------------------------------------------Temperature--------------------------------------------------------------
    var ctx_temp = document.getElementById("temperature_info").getContext("2d");
    var myChart = new Chart(ctx_temp,{
        type: 'bar',
        data: {
            labels: ['Average', 'Lowest', 'Highest'],
            datasets: [
                {
                    barThickness: 30,
                    data: [{{average_temperature}}, {{lowest_temp}}, {{highest_temp}}],
                    backgroundColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderWidth: 1,
                },
            ]
        },
        options: {
          indexAxis: 'y',
          // Elements options apply to all of the options unless overridden in a dataset
          // In this case, we are setting the border of each horizontal bar to be 2px wide
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          plugins: {
            legend: {
                display : false
            },
            title: {
              display: false,
              text: 'Temperature information'
            }
          },
          scales : {
            x : {
              ticks : {
                beginAtZero : true,
              },
            min : 0,
            max : Math.round({{highest_temp}} + 10)
            }
          },
        },
    });

    // Configuration options for the chart_temp_gauge
    {% comment %} const options = {
        plugins: {
            legend: {
              display: false
            }
        },
        scales: {
            y:
            {
                ticks: {
                    color: 'blue',
                    beginAtZero: true,
                },
            },
            x: {
                scaleLabel: {
                    display: false,
                    color: 'blue' // color of the x-axis label
                },
                ticks: {
                    color: 'blue' // color of the x-axis tick labels
                }
            }
        },
    };

    // Create a new Chart instance
    const ctx_temp_chart = document.getElementById("myChart-1").getContext("2d");
    const chart = new Chart(ctx_temp_chart, {
        type: "line",
        data: {
        labels: [],
        datasets: [
            {
            label: "Temperature",
            data: [],
            borderColor: "blue",
            borderWidth: 2,
            fill: false,
            },
        ],
        },
        options: options
    });

    // Function to update the chart with new data
    function updateChart() {
        $.ajax({
        url: "/get_temperature_data/", // Django view URL to fetch temperature data
        success: function (data) {
            // Parse the JSON data and update the chart
            // console.log(data, "hurreehhhh....");
            const newData = data;
            chart.data.labels.push(newData.label);
            chart.data.datasets[0].data.push(newData.value);
            // Limit the chart to only show the last 10 data points
            if (chart.data.labels.length > 10) {
            chart.data.labels.shift();
            chart.data.datasets[0].data.shift();
            }
            chart.update();
        },
        });
    }

    // Function to load initial data for the chart
    function loadInitialData() {
        $.ajax({
        url: "/get_initial_temperature_data/", // Django view URL to fetch initial temperature data
        success: function (data) {
            // Parse the JSON data and update the chart
            const initialData = data;
            chart.data.labels = initialData.labels;
            chart.data.datasets[0].data = initialData.values;
            chart.update();
        },
        });
    }

    // Call the loadInitialData function when the page loads to load the initial data
    $(document).ready(function () {
        loadInitialData();
        //updateChart();
    });

    // Set up a timer to update the chart every 5 seconds
    setInterval(updateChart, 5000); {% endcomment %}



    // --------------------------------------------------------------Humidity--------------------------------------------------------------
    var ctx_hum = document.getElementById("humidity_info").getContext("2d");
    var myChart = new Chart(ctx_hum, {
        type: 'bar',
        data: {
            labels: ['Average', 'Lowest', 'Highest'],
            datasets: [
                {
                    barThickness: 30,
                    data: [{{average_humidity}}, {{lowest_hum}}, {{highest_hum}}],
                    backgroundColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderWidth: 1,
                },
            ]
        },
        options: {
          indexAxis: 'y',
          // Elements options apply to all of the options unless overridden in a dataset
          // In this case, we are setting the border of each horizontal bar to be 2px wide
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          plugins: {
            legend: {
                display : false
            },
            title: {
              display: false,
              text: 'Humidity information'
            }
          },
          scales : {
            x : {
              ticks : {
                beginAtZero : true,
              },
            min : 0,
            max : Math.round({{highest_hum}} + 10)
            }
          },
        },
    });


    {% comment %} const options1 = {
        plugins: {
            legend: {
              display: false
            }
        },
        scales: {
            y: {
                ticks: {
                    color: 'blue',
                    beginAtZero: true,
                },
            },
            x: {
                scaleLabel: {
                    display: false,
                    color: 'blue' // color of the x-axis label
                },
                ticks: {
                    color: 'blue' // color of the x-axis tick labels
                }
            }
        },
    };

    // Create a new Chart instance
    const ctx_hum_chart = document.getElementById("myChart-2").getContext("2d");
    const chart1 = new Chart(ctx_hum_chart, {
    type: "line",
    data: {
        labels: [],
        datasets: [
        {
            label: "Humidity",
            data: [],
            borderColor: "blue",
            borderWidth: 2,
            fill: false,
        },
        ],
    },
    options: options1,
    });

    // Function to update the chart with new data
    function updateChart1() {
    $.ajax({
        url: "/get_humidity_data/", // Django view URL to fetch temperature data
        success: function (data) {
        // Parse the JSON data and update the chart
        // sconsole.log(data, "hurreehhhh1....");
        const newData = data;
        chart1.data.labels.push(newData.label);
        chart1.data.datasets[0].data.push(newData.value);
        // Limit the chart to only show the last 10 data points
        if (chart1.data.labels.length > 10) {
            chart1.data.labels.shift();
            chart1.data.datasets[0].data.shift();
        }
        chart1.update();
        },
    });
    }

    // Function to load initial data for the chart
    function loadInitialData1() {
    $.ajax({
        url: "/get_initial_humidity_data/", // Django view URL to fetch initial temperature data
        success: function (data) {
        // Parse the JSON data and update the chart
        const initialData = data;
        chart1.data.labels = initialData.labels;
        chart1.data.datasets[0].data = initialData.values;
        chart1.update();
        },
    });
    }

    // Call the loadInitialData function when the page loads to load the initial data
    $(document).ready(function () {
    loadInitialData1();
    //updateChart();
    });

    // Set up a timer to update the chart every 5 seconds
    setInterval(updateChart1, 5000); {% endcomment %}





    // --------------------------------------------------------------Gas--------------------------------------------------------------
    var ctx_gas = document.getElementById("gas_info").getContext("2d");
    var myChart = new Chart(ctx_gas, {
        type: 'bar',
        data: {
            labels: ['Average', 'Lowest', 'Highest'],
            datasets: [
                {
                    barThickness: 30,
                    data: [{{average_gas}}, {{lowest_gas}}, {{highest_gas}}],
                    backgroundColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderColor: [
                    "rgba(19, 214, 45, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255,69,0, 1)",
                    ],
                    borderWidth: 1,
                },
            ]
        },
        options: {
          indexAxis: 'y',
          // Elements options apply to all of the options unless overridden in a dataset
          // In this case, we are setting the border of each horizontal bar to be 2px wide
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          plugins: {
            legend: {
                display : false
            },
            title: {
              display: false,
              text: 'Gas information'
            }
          },
          scales : {
            x : {
              ticks : {
                beginAtZero : true,
              },
            min : 0,
            max : Math.round({{highest_gas}} + 10)
            }
          },
        },
    });


    {% comment %} const options2 = {
        plugins: {
            legend: {
              display: false
            }
        },
        scales: {
            y: {
                ticks: {
                    color: 'blue',
                    beginAtZero: true,
                },
            },
            x: {
                scaleLabel: {
                    display: false,
                    color: 'blue' // color of the x-axis label
                },
                ticks: {
                    color: 'blue' // color of the x-axis tick labels
                }
            }
        },
    };

    // Create a new Chart instance
    const ctx_gas_chart = document.getElementById("myChart-3").getContext("2d");
    const chart2 = new Chart(ctx_gas_chart, {
    type: "line",
    data: {
        labels: [],
        datasets: [
        {
            label: "Gas Value",
            data: [],
            borderColor: "blue",
            borderWidth: 2,
            fill: false,
        },
        ],
    },
    options: options2,
    });

    // Function to update the chart with new data
    function updateChart2() {
    $.ajax({
        url: "/get_gas_data/", // Django view URL to fetch temperature data
        success: function (data) {
        // Parse the JSON data and update the chart
        console.log(data, "hurreehhhh2....");
        const newData = data;
        chart2.data.labels.push(newData.label);
        chart2.data.datasets[0].data.push(newData.value);
        // Limit the chart to only show the last 10 data points
        if (chart2.data.labels.length > 10) {
            chart2.data.labels.shift();
            chart2.data.datasets[0].data.shift();
        }
        chart2.update();
        },
    });
    }

    // Function to load initial data for the chart
    function loadInitialData2() {
    $.ajax({
        url: "/get_initial_gas_data/", // Django view URL to fetch initial temperature data
        success: function (data) {
        // Parse the JSON data and update the chart
        const initialData = data;
        chart2.data.labels = initialData.labels;
        chart2.data.datasets[0].data = initialData.values;
        chart2.update();
        },
    });
    }

    // Call the loadInitialData function when the page loads to load the initial data
    $(document).ready(function () {
    loadInitialData2();
    //updateChart();
    });

    // Set up a timer to update the chart every 5 seconds
    setInterval(updateChart2, 5000); {% endcomment %}


</script>




{%endblock%}
